body {
  font: 100%/1.5 system-ui;
  max-width: 140ch;
  margin-inline: auto;
  padding: 2rem;
}

.controls {
  display: flex;
  border-bottom-width: 1px;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.controls .item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: gray
}

.controls label {
  font-weight: bold;
  margin: 0;
  padding-right: 0.5rem;
  color: gray;
  font-size: 0.95em;
}

.controls select {
  padding: 0.5rem;
  border: 1px solid oklch(80% 3% 200);
  border-radius: 0.25rem;
  background: var(--bg, white);
  color: gray;
  min-width: 10rem;
}

.controls button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}